<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whale1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{460,260}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{460,260}}</string>
                <key>sourceSize</key>
                <string>{500,350}</string>
            </dict>
            <key>whale2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,290}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{460,290}}</string>
                <key>sourceSize</key>
                <string>{500,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>munch.png</string>
            <key>size</key>
            <string>{464,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c3ab8bc6bd9502a94a808c9cbf4283:9178cf013baa7b62fcbfa6c663ae89e6:ae7d4fccd1a67a3612ef0b42b46f203b$</string>
            <key>textureFileName</key>
            <string>munch.png</string>
        </dict>
    </dict>
</plist>
