<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shrimp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,240}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,70},{480,240}}</string>
                <key>sourceSize</key>
                <string>{500,350}</string>
            </dict>
            <key>shrimp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,240}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,70},{480,240}}</string>
                <key>sourceSize</key>
                <string>{500,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>swim.png</string>
            <key>size</key>
            <string>{966,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05aaedb60262b22cdc1bcdc6ba0a64fd:f653c565cce4c334e2cc0a06354478bb:8aea9320534cbc4a7052a5c80fe1a05b$</string>
            <key>textureFileName</key>
            <string>swim.png</string>
        </dict>
    </dict>
</plist>
